NOTIFY_DEBUG=1
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=codexcybersquad@gmail.com
SMTP_PASS=iiwkgnaacaosvrsk
FROM_EMAIL=codexcybersquad@gmail.com

TERMII_API_KEY=TLSDXoownKUCjVGvPGcZwZtbFbCGEoeXVcxzjWJKeflOJmnZXWFZKNRHaalFLk
TERMII_SENDER_ID=shamsu

PAYSTACK_SECRET_KEY=
FLUTTERWAVE_PUBLIC_KEY=your_flutterwave_public_key
FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret_key

OPAY_PUBLIC_KEY=your_opay_public_key
OPAY_SECRET_KEY=your_opay_secret_key
OPAY_MERCHANT_ID=your_opay_merchant_id
OPAY_CALLBACK_URL=http://127.0.0.1:5000/payments/opay/callback
OPAY_RETURN_URL=
OPAY_CANCEL_URL=
OPAY_PAY_METHOD=BankCard
OPAY_COUNTRY=NG
OPAY_API_BASE=https://testapi.opaycheckout.com

OPAY_STATUS_ENDPOINT=/api/v1/international/cashier/status
OPAY_REFUND_ENDPOINT=/api/v1/international/cashier/refund

BANK_TRANSFER_BANK=Access
BANK_TRANSFER_ACCOUNT_NAME=shamsu yakubu
BANK_TRANSFER_ACCOUNT_NUMBER=1234567890

RESET_URL_BASE=http://127.0.0.1:5000
UPLOAD_FOLDER=static/uploads
RESET_ADMIN_TOKEN=your_admin_reset_token
SHIPPING_FEE=0
SHIPPING_RATE_PER_GRAM=0.5
SHIPPING_RATE_PER_KM=10
STORE_LAT=0
STORE_LNG=0
