{% extends "base.html" %}
{% block content %}
<div class="container page-shell">
    <h2 class="page-head">Create Company</h2>
    <form method="POST" class="checkout-form form-card-md">
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description"></textarea>
        </div>
        <button class="checkout-btn" type="submit">Create</button>
    </form>
</div>
{% endblock %}
